<select (selectionchange)="setFilter('companies', $event)">
  <option>Companies (All)</option>
</select>

<select (selectionchange)="setFilter('topics', $event)">
  <option>Topics (All)</option>
</select>

<select (selectionchange)="setFilter('verticals', $event)">
  <option>Verticals (All)</option>
</select>

<select (selectionchange)="setFilter('audiences', $event)">
  <option>Audiences (All)</option>
</select>

<select (selectionchange)="setFilter('regions', $event)">
  <option>Regions (All)</option>
</select>

<button>Button 1</button>
<button>Button 2</button>
