.add {
  background: black;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 0.6;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

menu {
  display: flex;
  list-style: none;
  justify-content: start;
  padding: 0;
}

li {
  margin: 0 10px;
}
